@font-face {
  font-family: "logo_Font";
  src: url("../assets/fonts/Agustina/Agutina400.otf") format("woff2");
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.5rem 2rem 1rem;
  width: 100%;
  background-color: #000;

  .main-logo {
    font-family: "logo_Font";
    font-size: 1.8rem;
    color: #c9f31d;
    cursor: pointer;
    user-select: none;
  }

  .main-logo {
    font-family: "logo_Font";
    font-size: 1.8rem;
    color: #c9f31d;
    cursor: pointer;
    user-select: none;
  }

  .nav-links {
    display: flex;
    padding-right: 2.5rem;
  }

  .nav-links>li {
    margin: 0 1rem;
    font-size: 1.2rem;
    list-style: none;
    color: #c9f31d;
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #c9f31d;
      transition: width 0.3s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }
}