@font-face {
  font-family: "DMSans-Light";
  src: url(assets/fonts/DM_Sans/DMSans-Light.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "DMSans-Regular";
  src: url(assets/fonts/DM_Sans/DMSans-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "DMSans-Medium";
  src: url(assets/fonts/DM_Sans/DMSans-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "DMSans-SemiBold";
  src: url(assets/fonts/DM_Sans/DMSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "DMSans-Bold";
  src: url(assets/fonts/DM_Sans/DMSans-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "DMSans-ExtraBold";
  src: url(assets/fonts/DM_Sans/DMSans-ExtraBold.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "DMSans-ExtraLight";
  src: url(assets/fonts/DM_Sans/DMSans-ExtraLight.ttf) format("truetype");
  font-weight: 100;
}

body {
  font-family: "DMSans-Regular", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
